<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>

        {% if password %}
            <div class="password-box">{{ password }}</div>
        {% endif %}

        <form method="POST">
            <button type="submit" name="generate_password">Generate New Password</button>
            <button type="submit" name="check_breach">Check if Password is Breached</button>
        </form>

        {% if safe_status %}
            <div class="status">{{ safe_status }}</div>
        {% endif %}
    </div>
</body>
</html>


